langgraph==0.2.73
langfuse==2.46.0
Jinja2==3.1.4
pytz==2025.1
fastapi==0.115.8
sse-starlette==2.2.1
uvicorn==0.34.0
langchain==0.3.19
pydantic_settings==2.7.1
langchain_openai==0.3.6
langchain-cohere==0.4.2
langchain_google_genai==2.0.9